<form action="{{ url('../types/search/results') }}">
  <input class="text-black text-block pl-2" type="search" name="q" aria-label="Search" placeholder="Search">
  <button class="bg-pink-dark rounded-full px-4" type="submit">Go</button><img />
</form>
