{% if entry.textBlock %}
  <div> {% include "partials/textBlock" %} </div>
{% endif %}

{% if entry.hero %}
  <div class="w-full"> {% include "partials/hero" %} </div>
{% endif %}

{#{% if entry.imageStrip %}
  <div> {% include "partials/imageStrip" %} </div>
{% endif %}#}

<div> {% include "partials/categoryDisplayHome" %} </div>

{% if entry.body %}
  <div> {% include "partials/body" %} </div>
{% endif %}

<div> {% include "partials/icons" %}</div>

<div> {% include "forms/contact" %} </div>
