
  {% if entry.imageStrip %}
    <div> {% include "partials/imageStrip" %} </div>
  {% endif %}

  {% if entry.body %}
    <div> {% include "partials/body" %} </div>
  {% endif %}

  <div> {% include "partials/allProducts" %} </div>

  <div> {% include "forms/contact" %} </div>
